@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.woff2') format('woff2'),
    url('../font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/

* {
    padding: 0;
    margin: 0;
    border: none;

}

.margin_auto {
    margin: auto;
}

.text-center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

h1 {
    margin: 0;
}

header {
    background: #181818;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    margin: 6px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header div nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 32px;
}

header nav ul a {
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

header nav ul a:hover {
    color: #818181;
}

header nav ul a:active {
    background-color: white;
    color: #818181;
    border-radius: 8px;
}

header nav ul {
    list-style: none;
}

header nav ul li:first-of-type {
    margin-right: 24px;
}

header nav ul li:first-of-type a {
    font-size: 13px;
}

header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    padding: 9px 20px;
    font-size: 16px;
    color: #000000;
    transition: .3s;
}

header nav ul li:last-of-type a:hover {
    background-color: #717270;
    color: white;
}

header nav ul li:last-of-type a:active {
    background-color: #3f403e;
    color: #6ba28b;
}

/*====>>section_1*/

.main_banner {
    background-image: url("../image/images_fon.jpg");
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 71px;
    position: relative;
}

.main_banner .container {
    margin: inherit;
}

.main_banner h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.main_banner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    max-width: 580px;
    margin: auto;
}

.list_item {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.list_item li {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-right: 16px;
}

.list_item li:before {
    content: "";
    display: inline-block;
    background-image: url("../image/icon/tlime.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 6px;
}

.list_item li:nth-child(2):before {
    background-image: url("../image/icon/objekt.svg");
}

.list_item li:nth-child(3):before {
    background-image: url("../image/icon/iso.svg");
    margin-right: 7px;
    width: 32px;
}

.list_item li:last-of-type:before {
    background-image: url("../image/icon/location.svg");
    margin-right: 5px;
    width: 10px;
}

/*====>>section_2*/

.What_we_do {
    background: black;
    padding-top: 112px;
    padding-bottom: 100px;
}

.What_we_do h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;

}

.What_we_do p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;

    color: #C0C0C0;
}

.What_we_do .item {
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}

.What_we_do .item .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.What_we_do .item img {
    display: block;
    width: 100%;
}

.What_we_do .container {
    max-width: 1168px;
}

.what_we_do .item {
    max-width: 575px;
    margin-bottom: 16px;
    position: relative;
}

.what_we_do .item img {
    display: block;
    width: 100%;
}

.what_we_do .container {
    max-width: 1168px;
}

.what_we_do .item .description {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 30px;
}

.description a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 4px;
    background: #FFFFFF;
    border-radius: 14px;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s;
}

.description a:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
}

.description a:hover {
    background-color: #000;
    color: #fff;
}

.description a:hover:before {
    background-color: #fff;

}

/*====>>section3*/

.fuji {
    background-image: url("../image/fuji_image.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}

.fuji .container {
    max-width: 1316px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.fuji_box {
    max-width: 298px;
}

.fuji h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fuji p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*====>>>section_5*/

.monstera_leafs {
    background-image: url("../image/monstera_leafs_image.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}

.monstera_leafs .container {
    max-width: 1266px;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.monstera_leafs_box {
    max-width: 273px;
}

.monstera_leafs h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.monstera_leafs p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*====>>>section_6*/

.past_clients {
    background: #000000;
    padding-top: 120px;
    padding-bottom: 140px;
}

.past_clients .container {
    padding-left: 16px;
    padding-right: 16px;
}

.past_clients .container .d-flex {
    padding-left: 46px;
    padding-right: 46px;
}

.past_clients h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.past_clients p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

/*====>>>section_7*/

.star_fall {
    background-image: url("../image/star_fall_IMAGE.jpg");
    background-size: cover;
    height: 75vh;
    position: relative;
}

.star_fall .container {
    max-width: 1202px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.star_fall_box {
    max-width: 254px;
}

.star_fall h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.star_fall p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*=====>>>sectiom_8*/

.help {
    padding-top: 120px;
    padding-bottom: 121px;
    background-color: black;
}

.help h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    max-width: 571px;
    margin-bottom: 15px;
    justify-content: center;
}

.help p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 31px;
}

.help a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    transition: .3s;
}

.help a:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 14px;
    margin-right: 6px;
}

.help a:hover {
    background-color: #000;
    color: #fff;
}

.help a:hover:before {
    background-color: #fff;

}

/*===>>>Footer*/

footer {
    background-color: black;
    color: white
}

footer .container {
    max-width: 1168px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 104px;
}

.footer-catalog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
    border-bottom: solid 2px #FFFFFF;
}

.logo_footer img{
     margin-bottom: 20px;
 }

.footer-Business-areas {
    display: flex;
}

.footer-Business-areas ul li {
    padding-bottom: 10px;
    list-style: none
}

.footer-Business-areas ul li a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-Business-areas ul li:first-child p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.subscribe {
    padding-top: 36px;
    padding-bottom: 36px;
    margin: inherit;
    border-bottom: solid 2px #FFFFFF;
}

.subscribe h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.subscribe p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}

.subscribe_form {
    flex-basis: 458px;
}

.subscribe_form_box {
    max-width: 458px;
    padding: 7px 6px 7px 7px;
    background-color: white;
    border-radius: 12px;
}

.subscribe_form_input {
    width: 100%;
}

.subscribe button {
    padding: 15px 32px;
    background-color: black;
    border-radius: 11px;
}

.info{
    padding-top: 56px;
}

.info p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-right: 5px;
}

.footer_licensing a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
    text-decoration: none;
}

.footer_icon a{
    margin-left: 20px;
}

